@page "/evento"
@*Necessário para migar o código de dentro da diretiva @code para uma classe externa*@
@inherits EventoBase

<h3>Evento</h3>

<div style="background-color: @_cor; padding: 50px;"></div>

<input type="text" @onkeypress="@(e => TeclaPressionada(e))" />
