<div class="alert alert-primary mt-4 d-flex" role="alert">
    <strong>@Mensagem</strong>
</div>

@code {
    //Parâmetro que será informado ao utilizar o componente
    [Parameter] public string Mensagem { get; set; }
}
