@* Herança necessário para criação de um layout personalizado *@
@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="content px-4">
        @Body
    </div>

    <div class="footer-container">
        <Rodape />
    </div>
</div>

<style>
    div.main {
        background-color: #21155533;
    }

    .footer-container {
        position: absolute;
        bottom: 0;
        left: calc(100vw /2);
        translate: -25%;
    }
</style>