<h2 class="mb-5 mt-3">@Titulo</h2>

<main>
    <section>
        <h4>Nova tarefa</h4>
        <input type="text" class="form-control" @bind="@_novaTarefa" spellcheck="true" placeholder="Nome da tarefa" />
        <br />
        <button class="btn btn-primary" @onclick="AdicionarTarefa">Adicionar</button>
    </section>

    <section>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Descrição</td>
                    <td>Data de criação</td>
                    <td>Concluído</td>
                    <td>Opções</td>
                </tr>
            </thead>
            <tbody>
                @if (Tarefas == null || Tarefas.Count == 0)
                {
                    <Alerta Mensagem="Nenhuma tarefa cadastrada"></Alerta>
                }
                @foreach (var tarefa in Tarefas)
                {
                    <tr>
                        @* No componente TarefaDetalhe, quando o botão remover for pressionado, ó método RemoverTarefa será invocado. *@
                        <TarefaDetalhe Tarefa="tarefa" RemoverTarefaCallBack="RemoverTarefa"/>
                    </tr>
                }
            </tbody>
        </table>

    </section>
</main>

@code {
    [Parameter] public string Titulo { get; set; }
    [Parameter] public List<TarefaModelo> Tarefas { get; set; }
    private string _novaTarefa = "";

    private void AdicionarTarefa()
    {
        if (!string.IsNullOrWhiteSpace(_novaTarefa))
        {
            Tarefas.Add(new TarefaModelo
            {
                ID = Guid.NewGuid(),
                Descricao = _novaTarefa,
                DataCriacao = DateTime.Now
            });
            _novaTarefa = "";
        }
    }

    private void RemoverTarefa(TarefaModelo tarefa)
    {
        if (tarefa == null) return;
        Tarefas.Remove(tarefa);
    }
}

<style>
    main {
        display: flex;
    }

        main section:nth-child(1) {
            flex: 1;
            margin-right: 30px;
        }

        main section:nth-child(2) {
            flex: 2;
        }

    section input {
        max-width: 300px;
    }
</style>