<tr>
    <td>
        @Tarefa.Descricao
    </td>
    <td>
        <input type="date" value="@Tarefa.DataCriacao.ToString("yyyy-MM-dd")" class="form-control" readonly />
    </td>
    <td>
        <input type="checkbox" checked="@Tarefa.Concluido" class="form-control float-left w-25" />
    </td>
    @* Callback *@
    <td>
        <button class="btn btn-danger" @onclick="@(() => RemoverTarefaCallBack.InvokeAsync(Tarefa))">Remover</button>
    </td>
</tr>

@code {
    [Parameter] public TarefaModelo Tarefa { get; set; }

    //Passagem de evento como parâmetro, quando o botão for pressionado, o componente pai irá remover a terafa
    // RemoverTarefaCallBack irá atuar como delegate.
    [Parameter] public EventCallback<TarefaModelo> RemoverTarefaCallBack { get; set; }
}