@page "/blococodigo"
<h3>Bloco de Código</h3>

<h2 class="mb-3 mt-3">Olá, @nome</h2>

<button class="btn btn-primary btn-metodo" @onclick="@(() => Console.WriteLine("Impresso com onclick"))">Imprimir no console</button>
<button class="btn btn-success btn-metodo" @onclick="@(() => Console.WriteLine(PergarDataHoraFormatada()))">Imprimir data e hora formatado</button>
<button class="btn btn-dark btn-metodo" @onclick="@(() => ImprimirMeuNome(nome))">Chama método passando argumento</button>

@* Instruções em C# *@
@code {
    private string nome = "Anderson";

    private string PergarDataHoraFormatada()
    {
        return DateTime.Now.ToString("dd/MM/yyyy HH:mm");
    }

    private void ImprimirMeuNome(string nome)
    {
        Console.WriteLine(nome);
    }
}

<style>
    button.btn-metodo {
        display: block !important;
        margin-bottom: 10px;
    }
</style>