@page "/counter"
@inject ServicoSingleton servicoSingleton
@inject ServicoScoped servicoScoped
@inject ServicoTransient servicoTransient

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<hr />
@* A mesma instância é usada, logo seu valor não é perdido ao trocar de componente*@
<p>Singleton: @servicoSingleton.Valor</p>
@* Funciona como um singleton, quando estamos no lado cliente *@
<p>Scoped: @servicoScoped.Valor</p>
@* O Valor é zerado ao sair do componente*@
<p>Transient: @servicoTransient.Valor</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        servicoSingleton.Valor = currentCount;
        servicoTransient.Valor = currentCount;
        servicoScoped.Valor = currentCount;
    }
}
