@model SimpleImageGallery.Models.GalleryIndexModel

<div class="container body-content">
    <div class="row gallery-content">
        @foreach (var img in Model.Images)
        {
            <div class="gallery-image-container">
                <a asp-area="" asp-controller="Gallery" asp-action="Details" asp-route-id="@img.Id">
                    <div class="gallery-image" style="background-image: url(@img.Url)"></div>
                </a>
            </div>
        }
    </div>
</div>
