<h3>Pergunta</h3>

<h2>Qual é a resposta para da vida, o universo e tudo mais?</h2>
<hr/>
<h3>@RespostaCascateada</h3>

@code {
    [CascadingParameter] private string RespostaCascateada { get; set; }
}
